;; shadow-cljs configuration
{:source-paths ["src/front"
                "test/front"]

 :dependencies
 []

 :dev-http     {8080 "resources/public"}

 :builds
 {:app {:target      :browser
        :output-dir  "resources/public/js"
        :asset-path  "/js"
        :modules     {:main         {:entries   [app.main]
                                     :init-fn   app.main/my-init}}
        :devtools    {:after-load   app.main/after-reload}}}}
