{:todo-list/title "My new List", :todo-list/items [{:todo/id #uuid "833fef78-fde7-4e40-a4a5-1c48cc079fa0", :todo/title "______do another thingsdfg sdfg", :todo/done true} {:todo/id #uuid "d8e13a05-74dc-401e-83bf-39973819dc60", :todo/title "do one last thing", :todo/done false} {:todo/id #uuid "34052e3a-da1c-4fb9-b702-3ed994728664", :todo/title "Enter your desdfghdfghcription ...", :todo/done false} {:todo/id #uuid "f29873c8-8c3e-4fc4-8408-61076aa8d105", :todo/title "Enter your descssdfgsdfgsdfgription ...", :todo/done true} {:todo/id #uuid "7f89c6b5-ab31-4e02-9c63-11c57bb6f4f4", :todo/title "Eazerazerazr", :todo/done false} {:todo/id #uuid "991384a5-1edc-4ead-a4fb-1bab9be4cbb2", :todo/title "ssdfgdfgh dfgh dfgh", :todo/done false}]}